* {
  font-family: sans-serif;
}

header :hover {
  text-align: center;
  background-color: #f5f5f5;
  transition: 1ms;
}

h1 {
  font-size: 30px;
  text-align: center;
  background-color: #333333;
}

p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1, 5px;
}

ul,
li {
  font-size: 14px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #efefef;
}

.fonrengi {
  background-color: #f5f5f5;
}

.profilecard1:hover {
  background-color: red;
  transition: 2s;
  text-align: center;
}

.profilecard1 {
  text-size-adjust: auto;
  text-align: center;
}

.photo1 {
  width: 300px;
}
